body {
    display: flex;
    justify-content: center;
    background: mediumslateblue;
}

small {
    color: grey;
}
sup {
    color: red;
}

label {
    font-weight: bold;
}

div {
    padding: 15px;
}

.form {
    position: relative;
    width: 50%;
    min-height: 100vh;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 30px;
}

.form > h2, .form > p {
    text-align: center;
    padding: 10px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    grid-row-gap: 40px;
}

.content-2, .content-3 {
    /* Remove the left property */
    padding: 25px;
    margin: 25px;

    /* Add these properties to center the divs */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content > div {
    margin: 10px;
}

input[type=text], input[type=email], input[type=number], input[type=time], input[type=date] {
    width: 80%;
}

select {
    width: 80%;
}


input[type="file"], button {
    display: block;
    margin: 0 auto;
}


input[type="file"] {
    padding: 25px;
    margin: 5px;
    border: 1px dotted black;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


@media screen and (max-width: 600px) {
    .form {
        width: 100%;
    }
}